.footerContainer {
    background-color: #BAD3C6;
    padding: 1.2rem;
    text-align: center;
    margin-top: auto;
}

.footerText {
    font-size: 0.95rem;
    color: #7B7066;
    font-weight: 500;
}

.headerContainer {
    background-color: #BAD3C6;
    padding: 20px;
    text-align: center;
}

.headerTitle {
    font-size: 2.5rem;
    color: #7B7066;
}

.footerContainer {
    background-color: #BAD3C6;
    padding: 1.2rem;
    text-align: center;
    margin-top: auto;
}

.footerText {
    font-size: 0.95rem;
    color: #7B7066;
    font-weight: 500;
}

/* RESPONSIVE */

/* Tablets y Mobile */
@media (max-width: 768px) {
    .footerContainer {
        padding: 1rem;
    }

    .footerText {
        font-size: 0.85rem;
        line-height: 1.4;
    }
}

/* Little mobile (hasta 480px) */
@media (max-width: 480px) {
    .footerContainer {
        padding: 0.8rem 0.5rem;
    }

    .footerText {
        font-size: 0.75rem;
    }
}